.public-layout {
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.public-layout__main {
  flex: 1 0 auto;
  min-height: calc(100dvh - 10rem);
  width: 100%;
}

app-footer {
  flex: 0 0 auto;
}
