.footer-main {
    background-color: #ffffff;
    border-top: 1px solid var(--color-border);
    width: 100%;
}

.footer-main__title {
    color: var(--color-text-main);
}

.footer-main__highlight {
    color: #0f766e;
}

.footer-main__text {
    color: var(--color-text-muted);
}
